<div class="container">
    <h2 class="mt-4"><font color="#ff6347"><strong>いいね一覧</strong></font></h2>
            <table  class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">おもちゃのなまえ</th>
                  <th scope="col">ジャンル</th>
                  <th scope="col">せつめい</th>
                  <th scope="col">もちぬし</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

                <tbody>
                  <tr>
                  <% @favorite_toys.each do |toy|%>
                    <td><%= link_to toy.name,toy, class: "toy_#{toy.id}" %><br><%= image_tag toy.image, size: "200x200" %></td>
                    <td><%= toy.genre.name %></td>
                    <td><%= toy.caption %></td>
                    <td><%= link_to toy.end_user.nickname, end_user_path(toy.end_user) %></td>
                    <td><%= link_to "#{toy.post_comments.count} コメント", toy_path(toy.id) %></td>
                    <td><%= link_to "♥#{toy.favorites.count}", toy_path(toy.id) %></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
  </div>