<div class='container'>
	<div class='row'>
		<div class='col-12 mt-3'>
				<h5><%= link_to "全商品を表示", toys_path %></h5>
					<h3><font color="#ff8c00"><strong><%= @genre.name %></strong></font></h3>
						<div class="items d-flex flex-wrap align-content-stretch">
							<table>
								<tbody>
									<tr>
										<% @toys.each do |toy| %>
									<td>
										<%=link_to toy_path(toy.id) do %>
										<%= toy.name %><br>
										<%= image_tag toy.image, size: "150x150" %>
										<% end %>
									</td>
                  <% end %>
									</tr>
								</tbody>
							</table>
						</div>
		</div>
	</div>
</div>