 <div class="container">
    <h2 class="mt-4"><font color="#ff6347"><strong>おもちゃ一覧</strong></font></h2>
      <div><%= link_to "投稿する", new_toy_path, class:"row justify-content-end" %></div>

            <table  class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">おもちゃのなまえ</th>
                  <th scope="col">ジャンル</th>
                  <th scope="col">せつめい</th>
                  <th scope="col">もちぬし</th>
                </tr>
              </thead>

                <tbody>
                  <tr>
                  <% @toys.each do |toy| %>
                    <td><%= toy.name %><%= toy.image %></td>
                    <td><%= toy.genre.name %></td>
                    <td><%= toy.caption %></td>
                    <td><%= toy.end_user %></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
  </div>