 <div class="container">
    <h2 class="mt-4"><font color="#ff4500"><strong>おもちゃ一覧</strong></font></h2>
  <%= form_tag(toys_search_path,:method => 'get') do %>
  <%= label_tag '名前で検索' %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :toy => nil %>
<% end %>
      <div><%= link_to "投稿する", new_toy_path, class:"btn btn-danger row justify-content-end mt-1 mb-2" %></div>

            <table  class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">おもちゃのなまえ</th>
                  <th scope="col">ジャンル</th>
                  <th scope="col">せつめい</th>
                  <th scope="col">もちぬし</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
                <tbody>
                  <% @toys.each do |toy| %>
                  <tr>
                    <td><%= link_to toy.name,toy, class: "toy_#{toy.id}" %><br><%= image_tag toy.image, size: "100x100" %></td>
                    <td><%= toy.genre.name %></td>
                    <td><%= toy.caption %></td>
                    <td><%= link_to toy.end_user.nickname, end_user_path(toy.end_user) %></td>
                    <td><%= link_to "#{toy.post_comments.count} コメント", toy_path(toy.id) %></td>
                    <td><i class="fa fa-heart like-btn" color="red"></i><%= toy.favorites.count %> いいね</td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
  </div>